body {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
} a {
text-decoration-thickness: 1px;
text-underline-offset: 0.25ch;
text-decoration: none;
}
a:hover,
a:focus {
text-decoration-style: dashed;
text-decoration: none;
}
a:active {
text-decoration: none;
}
.wp-block-navigation .wp-block-navigation-item a:hover,
.wp-block-navigation .wp-block-navigation-item a:focus {
text-decoration: none;
text-decoration-style: solid;
color: rgb(197, 143, 102);
} .wp-block-search__button,
.wp-block-file .wp-block-file__button { border-radius: 0;
border: none;
color: var(--wp--preset--color--background);
font-size: var(--wp--preset--font-size--medium);
padding: calc(.667em + 2px) calc(1.333em + 2px); } .wp-block-search__button:hover,
.wp-block-file .wp-block-file__button:hover,
.wp-block-button__link:hover {
opacity: 0.90;
} .wp-site-blocks,
body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.wp-block-cover.alignfull,
.is-root-container .wp-block[data-align="full"] > .wp-block-group,
.is-root-container .wp-block[data-align="full"] > .wp-block-cover {
padding-left: var(--wp--custom--spacing--outer);
padding-right: var(--wp--custom--spacing--outer);
}
.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
width: unset;
} .wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"], .wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align="full"] > *:not(.wp-block-group) .wp-block[data-align="full"] {
margin-left: auto !important;
margin-right: auto !important;
width: inherit;
} .wp-block-navigation__responsive-container.is-menu-open {
padding-top: var(--wp--custom--spacing--outer);
padding-bottom: var(--wp--custom--spacing--large);
padding-right: var(--wp--custom--spacing--outer);
padding-left: var(--wp--custom--spacing--outer);
} .wp-block-post-comments ol.commentlist ul.children {
margin-top: 1rem;
margin-bottom: 1rem;
}
.wp-block-post-comments ol.commentlist li.comment:not(:last-child) {
margin-bottom: 1rem;
}
element.style {
margin-bottom: 0;
}
:where(body .is-layout-constrained) > * {
margin-block-start: 0;
margin-block-end: 0;
}
.wp-block-spacer {
display: none;
}
.wp-block-group{
margin-top: 0;
}
.wp-block-button__link, .wp-element-button, .wp-block-button, .wp-block-button, .wp-block-group, .is-content-justification-center, .is-layout-flex, .wp-container-core-group-is-layout-3, .wp-block-group-is-layout-flex{
border-radius: 10px !important;
}
.bp-pagination, .bottom, .pag-count, .pag-data{
display: none !important;
}